/* Your CSS goes here */
html {
    background-color: #e6f2ff;
}

.textbox {
    background-color: #e1e1ea;
    border: 1px dashed #003300;
}

.button {
    font-weight: 600;
    background-color: yellow;
}

h1 {
    font-family: Palatino;
}
h4 {
    font-family: Georgia;
    font-weight: 100;
    border: 1px dotted darkblue;

}

form {
    font-family:  serif;
}
