{% extends 'base.html' %}

{% block title %}Application Form{% endblock %}

{% block content %}
  <h1>This Is The Large Heading</h1>

  <i><h4>Please fill out the following form for evaluation.</h4></i>

  <form action="/application" method="POST">
    <p>Your First Name: <input class="textbox" type="text" name="f_name"></p>
    <b><p>
      Your Last Name: <input class="textbox" type="text" name="l_name">
    </p></b>
    <p >Desired Salary: <input class="textbox" type="text" name="salary"></p>
    <p>You are applying for
      <select name="job">
      <option value="Software Engineer">Software Engineer</option>
      <option value="QA Engineer">QA Engineer</option>
      <option value="Product Manager">Product Manager</option>
    </p>
     <div><input class="button" type="submit"></div>
  </form>

{% endblock %}
